@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

html {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: black;
}

h1 {
    text-align: center;
    margin-top: auto;
    background-color: cadetblue;
}

p{
    color: white;
}

.lampes {
    color: white;
}

.lampe1 {

}